 /*----------------Configuration Tile styles----------------------*/
.e-connectionconfiguration .e-rpt-connection-mode-dlg .e-rpt-connection-mode-content-container,
.e-connectionconfiguration .e-rpt-connection-mode-dlg .e-rpt-connection-mode-content-wrap.e-connection-configuration-content-container {
    background-color: #fff;
}

.e-connectionconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap {
    background-color: #fff;
    border-color: #cccccc;
}

    .e-connectionconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap.e-con-select {
        border-color: #0162ff;
    }

    .e-connectionconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap .e-con-tile-configure-btn {
        color: #0162ff;
        background-color: #fff;
        border-color: #0162ff;
    }

        .e-connectionconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap .e-con-tile-configure-btn:hover {
            background-color: #f0f6ff;
        }

    .e-connectionconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap .e-config-oauth-help-link-wrap {
        color: #808080;
    }

.e-connectionconfiguration .e-rpt-connection-mode-dlg .e-con-tile-header-wrap {
    color: #333333;
    background-color: #eeeeee;
}

.e-connectionconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-rpt-service-tile-wrap:hover {
    border-color: #cccccc;
}

.e-connectionconfiguration .e-connection-configuration-container .e-connection-configuration-header {
    color: #333333;
    background-color: #fff;
}

    .e-connectionconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-oauth-text-wrap a {
        text-decoration: none;
        color: #0565ff;
    }

    .e-connectionconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container .e-rpt-designer-datasource-search-container {
        border-color: #808080;
    }

        .e-connectionconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container .e-rpt-designer-datasource-search-container .e-rpt-designer-icon.e-rpt-designer-search,
        .e-connectionconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container .e-rpt-designer-datasource-search-container .e-rpt-designer-icon.e-rpt-designer-close {
            color: #808080;
        }

    .e-connectionconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-oauth-requrired-wrap {
        background-color: #fff1db;
    }

/*-----connection header ej2-check-box-intermediate style override----*/

.e-connectionconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-checkbox-wrapper .e-frame.e-stop, .e-connectionconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-css.e-checkbox-wrapper .e-frame.e-stop {
    background-color: #0565ff;
    border-color: #0450cc;
    color: #ffffff;
}

.e-connectionconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-checkbox-wrapper .e-frame,
.e-connectionconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-css.e-checkbox-wrapper .e-frame {
    background-color: #ffffff;
    border-color: #b3b3b3;
}

    .e-connectionconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-checkbox-wrapper .e-frame.e-check,
    .e-connectionconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-css.e-checkbox-wrapper .e-frame.e-check {
        background: #0565FF;
        border-color: #0450cc;
        color: #fff;
    }

.e-connectionconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap.e-con-select:hover {
    border-color: #0162ff;
}
/*---------Tile style end-----------------*/
/************************Data Connectors Start - 2**************************************/

.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-connection-mode-header {
    border-bottom: 1px solid #dedede;
}

.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-tile-select-btn {
    background-color: #0162ff;
    color: #fff;
}

.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap {
    border: solid 1px #dedede;
    background: #fff;
    transition: border 500ms linear;
}

    .e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap .e-rpt-tile-info-icon-wrap {
        background-color: #0162ff;
    }

    .e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap:hover {
        border: solid 1px #0162ff;
        -webkit-transition: border 500ms linear;
        -moz-transition: border 500ms linear;
        -ms-transition: border 500ms linear;
        transition: border 500ms linear;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-designer-datasource-category-container,
.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-designer-datasource-search-container,
.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-connection-mode-footer,
.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-connection-mode-header {
    background-color: #fff;
}

.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-connection-mode-footer {
    border-top: 1px solid #dedede;
}

.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-help-icon {
    color: #0162ff;
}

.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-close-icon {
    color: #4d4d4d;
}

    .e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-close-icon:hover {
        color: #1A1A1A;
    }

.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-category-search-wrap .e-select {
    background-color: #fff !important;
}

.e-reportdesigner .e-rpt-connection-mode-dlg .e-rpt-connection-mode-content-container .e-rpt-cant-connector-wrap .e-rpt-request-a-connector,
.e-reportdesigner .e-rpt-connection-mode-dlg.e-rpt-configuration .e-rpt-api-doc-link-wrapper .e-rpt-api-doc-link {
    color: #0162ff;
}
/********************************************************************************/

/************************Toggle Button*********************************/
.e-dataconnector-slider {
    background-color: #ccc;
}

    .e-dataconnector-slider:before {
        background-color: white;
    }

input:checked + .e-dataconnector-slider {
    background-color: #0565ff;
}

/************************Dialog Buttons*********************************/
.e-rptdesigner-cancelbtn {
    border-color: #b3b3b3 !important;
}

.e-rptdesigner-cancelbtn:hover {
    border-color: #b3b3b3 !important;
}

.e-rptdesigner-cancelbtn.e-btn.e-select:active {
    border-color: #b3b3b3 !important;
}

.e-rptdesigner-okbtn {
    border-color: #0050d1 !important;
}

.e-rptdesigner-okbtn:hover {
    border-color: #0450cc !important;
}

.e-rptdesigner-okbtn:disabled,
.e-rptdesigner-okbtn:disabled:hover,
.e-rptdesigner-okbtn.e-disable,
.e-rptdesigner-okbtn.e-disable:hover {
    border-color: #cccccc !important;
}